@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body.redbridge-assist {
  font-family: "Inter", sans-serif;
  padding: 0;
  background-color: #1d184a;
}

body.redbridge-assist .container {
  padding-left: 0;
  padding-right: 0;
}

body.redbridge-assist h2 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

body.redbridge-assist header,
body.redbridge-assist footer {
  display: none;
}

body.redbridge-assist.customcontform input[type*="text"],
body.redbridge-assist.customcontform input[type*="email"],
.row-field span.form-control,
body.redbridge-assist.customcontform input[type*="password"],
body.redbridge-assist.customcontform select,
body.redbridge-assist.customcontform textarea {
  border: solid 1px #241f57;
  background: #241f57;
  color: #ffffff;
  border-radius: 16px;
  margin-bottom: 25px;
  font-size: 16px;
}

body.redbridge-assist.customcontform select[multiple],
body.redbridge-assist.customcontform textarea {
  height: 160px;
}

body.redbridge-assist.customcontform input::placeholder,
body.redbridge-assist.customcontform select::placeholder,
body.redbridge-assist.customcontform textarea::placeholder {
  color: rgb(255 255 255 / 20%);
}

body.redbridge-assist.customcontform #textInterna label {
  font-weight: 500;
  color: #ffffff;
}

body.redbridge-assist.customcontform .title_form {
  background: #241f57;
  border-radius: 16px;
}

body.redbridge-assist.customcontform .instanceNum {
  color: #ffffff;
  background: #241f57;
  border-radius: 16px;
  margin-top: 16px;
}

body.redbridge-assist.customcontform .instanceNum strong {
  font-weight: 700;
}

body.redbridge-assist.customcontform .customerror {
  color: #ff6363;
}

body.redbridge-assist.customcontform label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

body.redbridge-assist.customcontform .customBtnUpdate {
  border-radius: 8px;
  background: #e52b67;
}

body.redbridge-assist.customcontform .btn.btn-add-more {
  background: #e52b67;
  color: #ffffff;
  border-radius: 8px;
}

body.redbridge-assist.customcontform .cardinal {
  background: #ff6363;
}
